<h2 align="center">
  <%= @article.title %>
</h2>
<div class="well col-xs-8 col-xs-offset-2">
  
  <div class="center">
    <% if @article.user %>
      <ul class="listing">
        <li>
          <small>
            created by
          </small>
        </li>
        <li>
          <%= link_to(grab_picture(@article.user), user_path(@article.user) ) if @article.user.email %>
        </li>
        <li>
          <%= link_to @article.user.username, user_path(@article.user) %>
        </li>
        <li>
          <%= @article.user.articles.count %> articles created
        </li>
      </ul>
    <% end %>
  </div>

  <h4 class="center description"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>

  <div class="col-xs-12">
    <% @article.categories.each do |category| %>
      <p><%= category.name %></p>
    <% end %>
  </div>

  <div class="article-actions">
  
    <%= link_to '< back', articles_path, class: "btn btn-xs btn-success" %>

    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to 'edit', edit_article_path(@article), class: "btn btn-xs btn-primary"  %>
      <%= link_to 'delete', article_path(@article), method: :delete, 
                            data: {confirm: "Are you sure you want to delete it permanently?"}, 
                            class: "btn btn-xs btn-danger" %>
    <% end %>                  
  </div>

</div>